@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/ThemeDevBadge.css);

:root {
	--columns: 3;
	--guildsize: 50;
	--guildgap: 3;
	--aligndms: 1;
}

.titleBar-1it3bQ.typeMacOS-3V4xXE,
.titleBar-1it3bQ.typeMacOS-3V4xXE .macButtons-eIdy0e,
.wrapper-1_HaEi,
.wrapper-1_HaEi .unreadMentionsIndicatorTop-2bTgUU,
.wrapper-1_HaEi .unreadMentionsIndicatorBottom-3RJMnQ {
	width: calc(1px * (var(--guildsize) * var(--columns) + 20 * (var(--guildsize)/50) + 14 * (var(--guildsize)/50) * (var(--columns) - 1))) !important;
}
.titleBar-1it3bQ.typeMacOS-3V4xXE .macButtons-eIdy0e {
	padding-right: calc(1px * ((var(--guildsize) + 12 * var(--guildsize)/50) * var(--columns) - 50)) !important;
}
body.folderContentIsOpen-zz6FgW .titleBar-1it3bQ.typeMacOS-3V4xXE,
body.folderContentIsOpen-zz6FgW .titleBar-1it3bQ.typeMacOS-3V4xXE .macButtons-eIdy0e {
	width: calc(2px * ((var(--guildsize) + 12 * var(--guildsize)/50) * var(--columns) + 35 - 25)) !important;
}
body.folderContentIsOpen-zz6FgW .titleBar-1it3bQ.typeMacOS-3V4xXE .macButtons-eIdy0e {
	padding-right: calc(1px * ((var(--guildsize) + 12 * var(--guildsize)/50) * var(--columns) * 2 - 40)) !important;
}
.titleBar-1it3bQ.typeMacOS-3V4xXE.typeMacOSWithFrame-1XEpN7 .macButtons-eIdy0e {
	margin-top: 0 !important;
	margin-right: 0 !important;
}
.wrapper-1_HaEi {
	padding: 0 !important;
}
.wrapper-1_HaEi.hidden-10MsGQ {
	width: 0 !important;
}
.wrapper-1_HaEi .scroller-3X7KbA {
	padding: 0 0 calc(10px * var(--guildsize)/50) calc(10px * var(--guildsize)/50) !important;
}
.wrapper-1_HaEi .scroller-3X7KbA.none-2-_0dP::-webkit-scrollbar {
	width: 0 !important;
}
.wrapper-1_HaEi .scroller-3X7KbA,
.wrapper-1_HaEi .scroller-3X7KbA > [role="tree"],
.wrapper-1_HaEi .listItem-3SmSlK + div[aria-label]:not([class]) {
	margin: 0 !important;
	display: flex !important;
	flex-flow: row wrap !important;
	align-content: flex-start !important;
}
.wrapper-1_HaEi .listItem-3SmSlK {
	margin: calc(1px * var(--guildgap)) calc(1px * (12 * var(--guildsize)/50)) calc(1px * var(--guildgap)) 0 !important;
}
.wrapper-1_HaEi #server-search {
	margin: calc(1px * var(--guildgap)) calc(1px * (((var(--guildsize) + 12 * var(--guildsize)/50) * (var(--columns) - 1))/2)) !important;
}
.wrapper-1_HaEi #server-search .pill-3YxEhL {
	display: none;
}
.wrapper-1_HaEi .listItem-3SmSlK:first-child .listItemWrapper-3d87LP {
	margin: 0 calc(1px * (((var(--guildsize) + 12 * var(--guildsize)/50) * (var(--columns) - 1))/2)) calc(1px * var(--guildgap)) calc(1px * ((((var(--guildsize) + 12 * var(--guildsize)/50) * (var(--columns) - 1))/2))) !important;
}
.wrapper-1_HaEi .listItem-3SmSlK:first-child .pill-22lZHo ~ .listItemWrapper-3d87LP {
	margin: 0 calc(1px * ((((var(--guildsize) + 12 * var(--guildsize)/50) * (var(--columns) - 1))/2) * (1 - var(--aligndms)))) 0 calc(1px * (((0 * var(--aligndms)) + ((((var(--guildsize) + 12 * var(--guildsize)/50) * (var(--columns) - 1))/2) * (1 - var(--aligndms)))))) !important;
}
.wrapper-1_HaEi .blobContainer-ikKyFs,
.wrapper-1_HaEi .guildsError-YJjW3A {
	margin: 0 !important;
}
.wrapper-1_HaEi .listItem-3SmSlK {
	width: auto !important;
}
.wrapper-1_HaEi .tutorialContainer-1pL9QS {
	width: 100%;
}
.wrapper-1_HaEi .placeholderMask-3Z1hhV,
.wrapper-1_HaEi .svg-2zuE5p,
.wrapper-1_HaEi .wrapper-28eC3z {
	height: calc(1px * var(--guildsize)) !important;
	width: calc(1px * var(--guildsize)) !important;
}
.wrapper-1_HaEi .scroller-3X7KbA > div[style*="height"]:not([class]) {
	height: calc(1px * var(--guildsize) * (58/50)) !important;
}
.wrapper-1_HaEi .upperBadge-1V6Iyi .base-3IDx3L {
	transform: translate(calc(1.5px * ((50 - var(--guildsize))/10)), calc(-1.5px * ((50 - var(--guildsize))/10))) scale(calc(var(--guildsize)/50)) !important;
}
.wrapper-1_HaEi .upperLeftBadge-e35IpL .base-3IDx3L {
	transform: translate(calc(-1.5px * ((50 - var(--guildsize))/10)), calc(-1.5px * ((50 - var(--guildsize))/10))) scale(calc(var(--guildsize)/50)) !important;
}
.wrapper-1_HaEi .lowerBadge-3WTshO .base-3IDx3L {
	transform: translate(calc(1.5px * ((50 - var(--guildsize))/10)), calc(1.5px * ((50 - var(--guildsize))/10))) scale(calc(var(--guildsize)/50)) !important;
}
.wrapper-1_HaEi .lowerLeftBadge-zr4T_9 .base-3IDx3L {
	transform: translate(calc(-1.5px * ((50 - var(--guildsize))/10)), calc(1.5px * ((50 - var(--guildsize))/10))) scale(calc(var(--guildsize)/50)) !important;
}
.wrapper-1_HaEi .wrapper-z5ab_q {
	top: calc(-5px * var(--guildsize)/50) !important;
	height: calc(1px * (var(--guildsize) + 10 * var(--guildsize)/50)) !important;
	transform: scale(calc(var(--guildsize)/50)) !important;
	transform-origin: 0 50% !important;
}
.wrapper-1_HaEi .pill-L_aLMQ {	/*	home	*/ 
	left: calc(1px * ((((var(--guildsize) + 10 * var(--guildsize)/50) * (var(--columns) - 1))/2) - 9)) !important;
}
.wrapper-1_HaEi .pill-22lZHo {	/*	dm		*/ 
	left: calc(1px * ((var(--aligndms) + ((((var(--guildsize) + 10 * var(--guildsize)/50) * (var(--columns) - 1))/2) * (1 - var(--aligndms)))) - 8)) !important;
}
.wrapper-1_HaEi .pill-2RsI5Q,	/*	guild	*/ 
.wrapper-1_HaEi .pill-1fqNCF {	/* 	button	*/
	left: calc(-10px * var(--guildsize)/50) !important;
}
.wrapper-1_HaEi .guildSeparator-a4uisj {
	width: calc(1px * ((var(--guildsize) + 12 * var(--guildsize)/50) * var(--columns) - (12 * var(--guildsize)/50))) !important;
	margin: calc(1px * (var(--guildsize)/10)) 0 !important;
	display: block !important;
}
.wrapper-1_HaEi [role=tree] ~ .listItem-3SmSlK .listItemWrapper-3d87LP,
.wrapper-1_HaEi [role=tree] ~ * .listItem-3SmSlK .listItemWrapper-3d87LP,
.wrapper-1_HaEi .listItem-3SmSlK + div[aria-label]:not([class]) ~ .listItem-3SmSlK .listItemWrapper-3d87LP,
.wrapper-1_HaEi .listItem-3SmSlK + div[aria-label]:not([class]) ~ * .listItem-3SmSlK .listItemWrapper-3d87LP {
	margin: 0 !important;
}
.wrapper-1_HaEi .guildsError-YJjW3A {
	height: calc(1px * var(--guildsize)) !important;
	width: calc(1px * var(--guildsize)) !important;
	font-size: calc(1px * (var(--guildsize)/4 + 7.5)) !important;
	line-height: calc(1px * (var(--guildsize)/4 + 6.5)) !important;
}
.wrapper-1_HaEi #bd-pub-li,
.wrapper-1_HaEi #bd-pub-li #bd-pub-button,
.wrapper-1_HaEi #sort-button,
.wrapper-1_HaEi #sort-button > div,
.wrapper-1_HaEi .frame-oXWS21,
.wrapper-1_HaEi .frame-oXWS21 .button-Jt-tIg {
	height: calc(1px * ((var(--guildsize)/5) + 10)) !important;
}
.wrapper-1_HaEi .friendsOnline-2JkivW,
.wrapper-1_HaEi .label-2wRs_g {
	display: flex !important;
	justify-content: center !important;
	width: calc(1px * (var(--guildsize) * var(--columns) + 20 * (var(--guildsize)/50) + 14 * (var(--guildsize)/50) * (var(--columns) - 1) - (20 * var(--guildsize)/50) calc(10px * var(--guildsize)/50))) !important;
	margin: 0 !important;
	font-size: calc(1px * ((var(--guildsize)/8) + 3)) !important;
}
.wrapper-1_HaEi #bd-pub-li,
.wrapper-1_HaEi #sort-button,
.wrapper-1_HaEi .frame-oXWS21 {
	width: calc(1px * ((var(--guildsize)*4/5) + 12 * var(--guildsize)/50)) !important;
}
.wrapper-1_HaEi #bd-pub-li,
.wrapper-1_HaEi #sort-button,
.wrapper-1_HaEi .frame-oXWS21 {
	text-align: center !important;
	margin: calc(1px * var(--guildgap)) calc(1px * (((var(--guildsize) + 12 * var(--guildsize)/50) * (var(--columns) - 1) - ((var(--guildsize)*4/5) + 12 * var(--guildsize)/50) + var(--guildsize))/2)) calc(1px * var(--guildgap)) calc(1px * (((var(--guildsize) + 12 * var(--guildsize)/50) * (var(--columns) - 1) - ((var(--guildsize)*4/5) + 12 * var(--guildsize)/50) + var(--guildsize))/2)) !important;
}
.wrapper-1_HaEi .tutorialContainer-1pL9QS #bd-pub-li {
	margin-top: calc(2px * var(--guildgap)) !important;
}
.wrapper-1_HaEi #sort-button > div,
.wrapper-1_HaEi #bd-pub-li #bd-pub-button,
.wrapper-1_HaEi .frame-oXWS21 .innerFrame-8Hg64E,
.wrapper-1_HaEi .frame-oXWS21 .button-Jt-tIg {
	white-space: pre !important;
	font-size: calc(1px * ((var(--guildsize)/8) + 5)) !important;
	line-height: calc(1px * ((var(--guildsize)/5) + 10)) !important;
}
.wrapper-1_HaEi #sort-button > div,
.wrapper-1_HaEi #bd-pub-li #bd-pub-button,
.wrapper-1_HaEi .frame-oXWS21 .innerFrame-8Hg64E,
.wrapper-1_HaEi .frame-oXWS21 .button-Jt-tIg {
	width: 100% !important;
}

.wrapper-1_HaEi .wrapper-38slSD {
	border-bottom: calc(1px * var(--guildgap)) solid transparent !important;
	margin: calc(1px * var(--guildgap)) calc(1px * (12 * var(--guildsize)/50)) auto 0 !important;
	width: calc(1px * var(--guildsize)) !important;
}
.wrapper-1_HaEi .wrapper-38slSD > .listItem-3SmSlK {
	margin: 0 !important;
}
.wrapper-1_HaEi .wrapper-38slSD [role="group"] {
	overflow: visible !important;
	margin-left: -1px !important;
	margin-bottom: 0 !important;
	padding-left: 1px !important;
}
.wrapper-1_HaEi .wrapper-38slSD [role="group"] .listItem-3SmSlK {
	margin: 6px 0 !important;
}
.wrapper-1_HaEi .wrapper-38slSD [role="group"] .listItem-3SmSlK:last-child {
	margin-bottom: 0 !important;
}
.wrapper-1_HaEi .expandedFolderBackground-1kSAf6 {
	width: calc(1px * var(--guildsize)) !important;
	top: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	margin-bottom: 0 !important;
}

html .typingindicator-guild,
html .typingindicator-dms,
html .typingindicator-folder {
	right: 3px !important;
	top: calc(var(--guildsize) * 1px - 5px) !important;
	bottom: unset !important;
}

.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 56px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 112px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 168px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 224px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 280px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 336px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 392px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 448px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 504px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 560px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 616px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 672px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 728px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 784px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 840px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 896px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 952px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1008px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1064px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1120px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1176px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1232px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1288px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1344px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1400px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1456px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1512px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1568px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1624px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1680px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1736px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1792px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1848px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1904px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1960px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2016px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2072px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2128px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2184px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2240px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2296px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2352px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2408px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2464px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2520px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2576px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2632px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2688px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2744px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2800px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2856px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2912px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2968px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3024px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3080px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3136px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3192px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3248px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3304px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3360px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3416px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3472px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3528px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3584px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3640px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3696px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3752px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3808px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3864px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3920px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3976px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4032px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4088px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4144px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4200px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4256px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4312px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4368px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4424px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4480px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4536px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4592px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4648px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4704px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4760px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4816px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4872px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4928px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4984px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 5040px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 5096px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 5152px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 5208px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 5264px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 5320px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 5376px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 5432px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 5488px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 5544px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 5600px;"] {
	height: unset !important;
}

.dev-A7f2Rx.hasBadge-4rT8_u {
	overflow: visible;
}
.dev-A7f2Rx::before {
	display: none !important;
}
.dev-A7f2Rx.hasBadge-4rT8_u .mask-1FEkla {
	-webkit-mask: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><path fill="white" d="M 0,0 H 1 V 1 H 0.29565217 V 0.8 c 0,-0.1 -0.0347826,-0.14 -0.12173913,-0.14 H 0 Z"/></svg>') center/cover no-repeat;
}
.dev-A7f2Rx.hasBadge-4rT8_u ~ .avatarHint-k7pYop {
	-webkit-mask: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><path fill="white" d="M 0,0 H 1 V 1 H 0.34 V 0.8 C 0.34,0.72 0.3,0.7 0.2,0.7 H 0 Z"/></svg>') center/cover no-repeat;
}
.dev-A7f2Rx.hasBadge-4rT8_u .badge-7R_W3s {
	-webkit-mask: url('data:image/svg+xml; utf8, <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M 4.5 0 C 3.672043 0 3 0.67204269 3 1.5 L 3 4.4160156 L 21 4.4160156 L 21 1.5 C 21 0.67204269 20.328003 0 19.5 0 L 4.5 0 z M 3 7.8027344 L 3 22.5 C 3 23.105995 3.3662743 23.655743 3.9257812 23.886719 C 4.1117802 23.963224 4.306496 24 4.5 24 C 4.889979 24 5.2740679 23.847026 5.5605469 23.560547 L 12 17.121094 L 18.439453 23.560547 C 18.725933 23.847026 19.11002 24 19.5 24 C 19.693503 24 19.887777 23.963177 20.072266 23.886719 C 20.633283 23.655743 21 23.105995 21 22.5 L 21 7.8027344 L 3 7.8027344 z"/></svg>') center/cover no-repeat !important;
	background: var(--bdfdb-blurple, hsl(235, calc(var(--saturation-factor, 1)*85.6%), 64.7%)) !important;
	position: absolute !important;
	width: 30% !important;
	height: 30% !important;
	top: 74% !important;
	left: 1.5% !important;
}
.selected-1-Z6gm .dev-A7f2Rx.hasBadge-4rT8_u .badge-7R_W3s {
	filter: brightness(80%) !important;
}

.link-39xJu3[href*="/Lightcord/" i]::before {
	content: "" !important;
	display: block !important;
	visibility: visible !important;
	opacity: 1 !important;
	position: fixed !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	background: #18191c linear-gradient(var(--background-floating), var(--background-floating)) !important;
	-webkit-app-region: drag !important;
	z-index: 1000000 !important;
}
span {
	-webkit-backface-visibility: hidden;
}
