.headerNormal-1l1Znk{background-color:var(--small-user-popout-background-transparency)}
.userPopout-2j1gM4{background-position:var(--small-user-popout-background-image-position);
background-image:var(--small-user-popout-background-image)}
.theme-dark 
.headerNormal-1mX3KY{background-color:var(--small-user-popout-background-transparency)}
.headerPlaying-j0WQBV{background:var(--small-user-popout-background-transparency)}
.headerTop-2cWpdB{background-color:initial;border-bottom:none}
.headerSpotify-zpWxgT{background:var(--small-user-popout-background-transparency)}
.theme-dark 
.body-2wLx-E,
.theme-dark 
.footer-1N3bR3{background-color:var(--small-user-popout-background-transparency);color:hsla(0,0%,100%,.8)}
.bodyInnerWrapper-2bQs1k{background-color:initial}
.headerTop-3GPUSF{background-color:var(--small-user-popout-background-transparency)}
.footer-1Dc_h6{background-color:var(--small-user-popout-background-transparency);margin-top:0}
.footer-3naVBw{background-color:var(--small-user-popout-background-transparency);margin-top:0}
.membersGroup-2eiWxl{color:var(--member-listing-role-color)}
/*
.search-21gzzg.open-1F5u2C.focused-.1xb-wg{color:var(--member-listing-role-color)}
*/
.container-2McqkF{background-color:var(--message-search-menu-background-color);border: 2px solid black;backdrop-filter: blur(8px);}
.vs-dark,.floating-window-titlebar{background:var(--context-menu-transparency);backdrop-filter: blur(6px);}
.title-31SJ6t.container-ZMc96U.themed-Hp1KC_{background: #11001133;box-shadow: 0px 10px 10px #11001144;}
.bg-1QIAus{background: #302245bb;backdrop-filter: blur(6px);}
.searchBar-jGtisZ,.scrollableContainer-15eg7h.webkit-QgSAqd{background: #9a75b748;}
.tutorialContainer-1pL9QS{margin-top: 10px;}
.header-3OsQeK{box-shadow: 0px 2px 2px #66666677;}
.headerTop-3GPUSF,.body-2wLx-E{backdrop-filter: blur(2.5px);}
.role-2TIOKu{border: 2px solid #cccceeff;border-radius: 10px;}
.wrapper-2vIMkT{background: #4d398660;backdrop-filter: blur(6px);}
.animatorLeft-3yvG13{background: #4d39863b;backdrop-filter: blur(6px);}
.container-2oNtJn{border-bottom: 2px solid #020003a6;border-radius: 0;}
.list-1MBHYC{background: #30224562;border: 1px solid black;}
.item-1BCeuB{border-bottom: 1px solid #020003a6;border-radius: 0;}




/*
.messageListItem-ZZ7v6g{

}

.submenuPaddingContainer-{
background: #302245bb;
backdrop-filter: blur(6px);
}
*/



.menu-1QACrS{
background:var(--context-menu-transparency);
border: 1px solid #00000013;
}


.item-1OdjEX:not([aria-haspopup="true"]),
.item-1OdjEX[aria-haspopup="true"],
.wrapper--nA0oy,
.separator-1So4YB {border: 1px solid #11042241;}


.wrapper--nA0oy,
.item-1OdjEX{
background: #4d398660;
border: 1px solid #11042241;
margin: 2px;
transition: background-color 0.15s;
}

.scroller-1bVxF5, .submenuPaddingContainer-_k62dJ {padding: 0;}
.scroller-1bVxF5::-webkit-scrollbar, .submenuPaddingContainer-_k62dJ::-webkit-scrollbar {width: 0 !important;}
.submenuPaddingContainer-_k62dJ {margin-right: -4px;margin-left: -4px;}

/*
.layer-2aCOJ3 > div > div:not(.tooltipPointer-3L49xb) {
	background-color: var(--dplus-bgc-popout);
	border-radius: var(--dplus-radius-ui);
}*/

.popouts-2bnG9Z {
    z-index: 1000 !important;
}

.resizeHandle-PBRzPC{
    border-radius: 0;
    background: rgba(0, 0, 0, var(--left-brightness));
}
